:root {
	/* ------- colors ------- */
	--primary-color: #86000b;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #000000;
	--link-color: #A23E48;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "IBM Plex Mono", monospace;
	--secondary-font: "Source Code Pro", monospace;
	--tertiary-font: "Roboto", monospace;
	/* --------------------- */
}
