:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #A23E48;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "IBM Plex Mono", monospace;
	--secondary-font: "Source Code Pro", monospace;
	--tertiary-font: "Roboto", monospace;
	/* --------------------- */
}
